@font-face {
    font-family: "Rubik";
    src: url("../build/fonts/Rubik-Black.eot");
    src: url("../build/fonts/Rubik-Black.eot?#iefix") format("embedded-opentype"),
         url("../build/fonts/Rubik-Black.woff2") format("woff2"),
         url("../build/fonts/Rubik-Black.woff") format("woff"),
         url("../build/fonts/Rubik-Black.ttf") format("ttf"),
         url("../build/fonts/Rubik-Black.svg#Rubik-Black") format("svg");
    font-style: normal;
    font-weight: 900;
}
@font-face {
    font-family: "Rubik";
    src: url("../build/fonts/Rubik-Bold.eot");
    src: url("../build/fonts/Rubik-Bold.eot?#iefix") format("embedded-opentype"),
         url("../build/fonts/Rubik-Bold.woff2") format("woff2"),
         url("../build/fonts/Rubik-Bold.woff") format("woff"),
         url("../build/fonts/Rubik-Bold.ttf") format("ttf"),
         url("../build/fonts/Rubik-Bold.svg#Rubik-Bold") format("svg");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "Rubik";
    src: url("../build/fonts/Rubik-Light.eot");
    src: url("../build/fonts/Rubik-Light.eot?#iefix") format("embedded-opentype"),
         url("../build/fonts/Rubik-Light.woff2") format("woff2"),
         url("../build/fonts/Rubik-Light.woff") format("woff"),
         url("../build/fonts/Rubik-Light.ttf") format("ttf"),
         url("../build/fonts/Rubik-Light.svg#Rubik-Light") format("svg");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "Rubik";
    src: url("../build/fonts/Rubik-Medium.eot");
    src: url("../build/fonts/Rubik-Medium.eot?#iefix") format("embedded-opentype"),
         url("../build/fonts/Rubik-Medium.woff2") format("woff2"),
         url("../build/fonts/Rubik-Medium.woff") format("woff"),
         url("../build/fonts/Rubik-Medium.ttf") format("ttf"),
         url("../build/fonts/Rubik-Medium.svg#Rubik-Medium") format("svg");
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: "Rubik";
    src: url("../build/fonts/Rubik-Regular.eot");
    src: url("../build/fonts/Rubik-Regular.eot?#iefix") format("embedded-opentype"),
         url("../build/fonts/Rubik-Regular.woff2") format("woff2"),
         url("../build/fonts/Rubik-Regular.woff") format("woff"),
         url("../build/fonts/Rubik-Regular.ttf") format("ttf"),
         url("../build/fonts/Rubik-Regular.svg#Rubik-Regular") format("svg");
    font-style: normal;
    font-weight: 400;
}